<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Message sender</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" data-th-href="@{/css/messages_style.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </head>
  <body>
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-th-href="@{/messages/login}">Bejelentkezés</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-th-href="@{/messages/register}">Regisztráció</a>
            </li>
            
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-th-href="@{/messages/topic/}" 
                 id="navbarDropdownTopicChoice" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Szűrés topic szerint
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownTopicChoice" data-th-object="${topic}">
                <a class="dropdown-item" data-th-href="@{/messages/topic/0}">Nincs</a>
                <a class="dropdown-item" data-th-each="topic: ${topics}" data-th-href="@{'/messages/topic/' + ${topic.id}}" data-th-text="${topic.title}"></a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-th-href="@{/logout}">Logout</a>
            </li>
          </ul>
        </div>
    </nav> 
      
    <div class="container">
      <div class="row" id="felsosor">
        <div class="col text-center">
          <h2>Messages</h2>
        </div>
      </div>
      
        
      <div class="row m-2">
          <form class="col form-inline" data-th-action="@{/messages/}" method="get" data-sec-authorize="hasRole('ADMIN')">
                <div class="form-row align-items-center">
                    <div class="col-auto my-1">
                      <label class="mr-sm-2" for="showDeletedOrNot">Láthatóság</label>
                      <select class="custom-select mr-sm-2" id="showDeletedOrNot" name="selectMessages">
                          <option data-th-selected="${selectMessages == 'all'}" value="all">Minden üzenet látható</option>
                          <option data-th-selected="${selectMessages == 'notdeleted'}" value="notdeleted">Csak az érvényes üzenetek láthatók</option>
                          <option data-th-selected="${selectMessages == 'deleted'}" value="deleted">Csak a törölt üzenetek láthatók</option>
                      </select>
                    </div>
                    <div class="col-auto my-1">
                      <button type="submit" class="btn btn-outline-dark">OK</button>
                    </div>
                </div>
            </form>
      </div>
        
      <!--<div class="row" id="topicfilterchoice">
          <div class="col-8">
            <form class="form-inline" method="GET" data-th-action="@{/messages/}" data-th-object="${topic}">
                <label class="mt-2 mr-2" for="choiceOfTopicFilter">Szűrés topic szerint: </label>
                <select class="custom-select mx-2" id="choiceOfTopicFilter" name="topicChoice">
                    <option value="0">Nincs</option>
                    <option data-th-each="topic: ${topics}" data-th-value="${topic.id}" data-th-text="${topic.title}"></option>
                </select>
                <button type="submit" class="btn btn-outline-dark mx-2">Választ</button>
            </form>
          </div>
      </div> -->
      
      <table class="table table-striped">
        <thead class="table-header">
          <tr>
            <td>ID</td>  
            <td>Sender</td>
            <td>Topic</td>
            <td>Message</td>
            <td>Time</td>
            <td data-sec-authorize="hasRole('ADMIN')">Status</td>
            <td data-sec-authorize="hasRole('ADMIN')">Delete</td>
          </tr>
        </thead>
        <tbody>
          <tr data-th-each="message: ${messages}">
            <td><a data-th-href="@{'/messages/' + ${message.id}}" data-th-text="${message.id}"></a></td>
            <td data-th-text="${message.sender.username}"></td>
            <td data-th-text="${message.topic.title}"></td>
            <td data-th-text="${message.text}"></td>
            <td data-th-text="${{message.sendingTime}}"></td>
            <td data-sec-authorize="hasRole('ADMIN')" data-th-text="${message.isDeleted}? 'törölve'" >
                
            </td>
            <td data-sec-authorize="hasRole('ADMIN')">
                <a class="btn btn-secondary" data-th-if="${!message.isDeleted}" data-th-href="@{'/messages/delete/' + ${message.id}}">Törlés</a>
                <a class="btn btn-light btn-sm" data-th-if="${message.isDeleted}" data-th-href="@{'/messages/restore/' + ${message.id}}">Visszavonás</a>
            </td>
          </tr>
        </tbody>
    </table>
    <div>
        <a class="btn btn-primary" data-th-href="@{/messages/writenew}">Új üzenet írása</a>
        <a class="btn btn-secondary btn-right" data-th-href="@{/messages/statistics}">Statisztika</a>
        <a class="btn btn-outline-dark btn-small btn-right" data-sec-authorize="hasRole('ADMIN')" data-th-href="@{/messages/finaldelete}">Végleges törlés</a>
        </div>
  </div>

  </body>
</html>
