<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Messages</title>
  	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="row" id="felsosor">
        <div class="col text-center">
          <h2>Messages</h2>
        </div>
      </div>
      <table class="table table-striped">
        <thead>
          <tr>
            <td>ID</td>  
            <td>Sender</td>
            <td>Message</td>
            <td>Time</td>
          </tr>
        </thead>
        <tbody>
          <tr data-th-each="message: ${messages}">
            <td><a data-th-href="@{'/messages/'+${message.id}}" data-th-text="${message.id}"></a></td>
            <td data-th-text="${message.sender}"></td>
            <td data-th-text="${message.text}"></td>
            <td data-th-text="${message.sendingTime}"></td>
          </tr>
        </tbody>
    </table>
  </div>

  </body>
</html>
