<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Write comment</title>
  	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" data-th-href="@{/css/messages_style.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">
        <div class="row" id="urlapok">
            <div class="col-6" id="newcommentform">
                <h2>Válasz írása</h2>
                
                <form method="POST" data-th-action="@{'/messages/' + ${message.id} + '/newcomment'}" data-th-object="${comment}">
                      <div>
                        <input type="hidden" name="messageId" data-th-value="${message.id}">
                        <label for="write-text" class="mt-2">Az üzenet szövege: </br></label>
                        <textarea class="form-control" id="write-text" rows="3" placeholder="Írj valami kedveset!"
                        data-th-field="*{text}"></textarea>
                        <div data-th-if="${#fields.hasErrors('text')}" data-th-errors="*{text}">Az üzenet nincs megírva!</div>
                      </div>
                      <input class="mt-2" type="submit" id="send-button" value="Elküld"/>
                </form>
            </div>
      </div>
    </div>
  </body>
</html>
