<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Single Message</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container">

            <div class="col-md-6 col-lg-8 m-auto">
                <div class="card mt-3">
                    <div class="card-title ml-3">
                        <div class="row mt-2 mr-2">
                            <div class="col-6 h4 pt-1 text-left" data-th-text="${message.sender.username}"></div>
                                <div class="col-6 h3 text-right" data-th-text="${message.id}"></div>
                        </div>
                    </div>
                    <div class="card-body">
                        <p class="card-text" data-th-text="${message.text}"></p>
                        <a data-th-href="@{'/messages/'  + ${message.id} + '/writecomment'}" class="btn btn-primary btn-sm">Válasz</a>
                    </div>
                    <div class="card-footer text-muted">
                        <p data-th-text="${{message.sendingTime}}"></p>
                        <a class="btn btn-secondary btn-sm align-item-right"
                           data-toggle="collapse" href="#showcomment" role="button" 
                           aria-expanded="false" aria-controls="showcomment" 
                           data-th-text="'Mutasd a kommenteket (' + ${message.numberOfComments} + ')'">
                        </a>
                    </div>
                </div>
            </div>
            <div class="collapse" id="showcomment" data-th-each="comment: ${message.comments}">
                <div class="card mt-3">    
                    <div class="card-title ml-3" data-th-text="${comment.sender.username}"></div>
                    <div  class="card card-body" data-th-text="${comment.text}"></div>
                </div>
            </div>
        </div>
    </body>
</html>
